* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'rubik';
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f1424;
}

@media screen and (min-width: 1136px) {
  body {
    min-height: 100vh;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 1.5rem;
  grid-auto-rows: 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80%;
  margin: 50px auto;
}

@media screen and (min-width: 1136px) {
  main {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (50px)[6];
        grid-template-rows: repeat(6, 50px);
  }
}

main header {
  border-radius: 20px;
  grid-column: 1/ -1;
  grid-row: span 4;
  background-color: #1c1f4a;
  -webkit-box-shadow: 0 0 4px 4px #0e1025;
          box-shadow: 0 0 4px 4px #0e1025;
  position: relative;
}

@media screen and (min-width: 1136px) {
  main header {
    grid-column: span 1;
    grid-row: 1/-1;
  }
}

main header .profile {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 70%;
  background-color: #5847eb;
}

main header .profile__details {
  margin-left: 1rem;
}

main header .profile__details h3 {
  color: #bdc1ff;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1136px) {
  main header .profile__details h3 {
    font-size: 1.2rem;
  }
}

main header .profile__details h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

@media screen and (min-width: 1136px) {
  main header .profile__details h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1136px) {
  main header .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main header .profile img {
    margin: 2rem 0;
  }
}

main header img {
  width: 70px;
  height: 70px;
  border: 3px solid #6f76c8;
  border-radius: 50%;
}

main header nav {
  width: 100%;
  height: 30%;
  padding: 1rem;
}

main header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1136px) {
  main header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main header nav ul li button {
  border: none;
  background: none;
  color: #6f76c8;
  font-size: 1.2rem;
  font-weight: 400;
}

main header nav ul li button:hover {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  color: white;
  cursor: pointer;
}

main header nav ul li .active {
  color: white;
}

main .track {
  border-radius: 20px;
  grid-row: span 3;
  position: relative;
  -webkit-box-shadow: 0 0 2px 2px #0e1025;
          box-shadow: 0 0 2px 2px #0e1025;
}

@media screen and (min-width: 1136px) {
  main .track {
    grid-row: span 3;
  }
}

main .track > img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

main .track__stats {
  border-radius: 20px;
  height: 140px;
  margin-top: 58px;
  background-color: #1c1f4a;
  padding: 1rem;
  position: relative;
  z-index: 2;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

main .track__stats:hover {
  background-color: #2a2f6f;
  cursor: pointer;
}

main .track__stats h2 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

main .track__stats .track-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

@media screen and (min-width: 1136px) {
  main .track__stats .track-value {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main .track__stats .track-value .current-value {
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

main .track__stats .track-value .previous-value {
  font-size: 14px;
  color: #6f76c8;
}

@media screen and (min-width: 1136px) {
  main .track__stats .track-value .previous-value {
    font-size: 1rem;
  }
}

main .work {
  background-color: #ff8c66;
}

main .play {
  background-color: #56c2e6;
}

main .study {
  background-color: #ff5c7c;
}

main .exercise {
  background-color: #4acf81;
}

main .social {
  background-color: #7536d3;
}

main .selfcare {
  background-color: #f1c65b;
}
/*# sourceMappingURL=style.css.map */