@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin round {
    border-radius: 20px;
}
@mixin transition {
    transition: .3s all ease-in-out;
}

@function background($color){
    @return map-get($background-color, $color);
}
@function color($color){
    @return map-get($shades-of-blue , $color);
}
@function weight($weight){
    @return map-get($font-weights, $weight);
}