@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin round {
    border-radius: 20px;
}
@mixin transition {
    transition: .3s all ease-in-out;
}
@mixin desktop{
    @media screen and (min-width: 1136px) {
        @content;
    }
}
@mixin column{
    flex-direction: column;
}