$background-color : (
    "work": rgb(255, 140, 102),
    "play": rgb(86, 194, 230),
    "study": rgb(255, 92, 124),
    "exercise": rgb(74, 207, 129),
    "social": rgb(117, 54, 211),
    "selfcare": rgb(241, 198, 91)
);
$shades-of-blue : (
    "very-dark-blue" : rgb(15, 20, 36),
    "dark-blue" : rgb(28, 31, 74),
    "desaturated-blue" : rgb(111, 118, 200),
    "pale-blue" : rgb(189, 193, 255),
    "normal-blue" : rgb(88, 71, 235)
);
$white : rgb(255, 255, 255);
$titles : 18px;
$font-weights : (
    "lighter" : 300,
    "regular" : 400,
    "bolder" : 500
);