@import 'variables';
@import 'config';
@import 'functions';

body{
    @include center;
    background-color: map-get($shades-of-blue, very-dark-blue);

    @include desktop{
        min-height: 100vh;
    }
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1.5rem;
    grid-auto-rows: 50px;
    height: max-content;
    width: 80%;
    margin: 50px auto;

    @include desktop{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 50px);
    }

    header{
        @include round;
        grid-column: 1/ -1;
        grid-row: span 4;
        background-color: color(dark-blue);
        box-shadow: 0 0 4px 4px darken(color(dark-blue), 10%);
        position: relative;
        
        @include desktop{
            grid-column: span 1;
            grid-row: 1/-1;
        }

        .profile{
            @include round;
            display: flex;
            align-items: center;
            padding: 1rem;
            height: 70%;
            background-color: color(normal-blue);

            &__details{
               margin-left: 1rem;

                h3{
                    color : color(pale-blue);
                    font-size: 1rem;
                    font-weight: weight(bolder);

                    @include desktop{
                        font-size: 1.2rem;
                    }
                }

                h2{
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: weight(lighter);

                    @include desktop{
                        font-size: 2.5rem;
                    }
                }
            }

            @include desktop {
                @include column;
                // justify-content: flex-start;
                align-items: flex-start;

                img{
                    margin: 2rem 0;
                }
            }
        }

        img{
            width: 70px;
            height: 70px;
            border: 3px solid color(desaturated-blue);
            border-radius: 50%;
        }

        nav{
            width: 100%;
            height: 30%;
            padding: 1rem;

            ul{
                list-style: none;
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: space-between;

                @include desktop{
                    @include column;
                    align-items: flex-start;
                }

                li{

                    button{
                        border: none;
                        background: none;
                        color: color(desaturated-blue);
                        font-size: 1.2rem;
                        font-weight: weight(regular);


                        &:hover{
                            @include transition;
                            color: $white;
                            cursor: pointer;
                        }
                    }

                    .active{
                        color: $white;
                    }
                }
            }
        }
    }

    .track{
        @include round;
        grid-row: span 3;
        position: relative;
        box-shadow: 0 0 2px 2px darken(color(dark-blue), 10%);

        @include desktop{
            grid-row: span 3;
        }

        >img{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }

        &__stats{
            @include round;
            height: 140px;
            margin-top: 58px;
            background-color: color(dark-blue);
            padding: 1rem;
            position: relative;
            z-index: 2;
            @include transition;

            &:hover{
                background-color: lighten(color(dark-blue), 10%);
                cursor: pointer;
            }

            h2{
                font-size: $titles;
                color: $white;
                font-weight: weight(bolder);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
            }

            .track-value{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;

                @include desktop{
                    @include column;
                    align-items: flex-start;
                }

                .current-value{
                    font-size: 2rem;
                    color: $white;
                    font-weight: weight(lighter);
                }

                .previous-value{
                    font-size: 14px;
                    color: color(desaturated-blue);

                    @include desktop{
                        font-size: 1rem;
                    }
                }
            }
        }

    }

    .work{
        background-color: background(work);
    }
    .play{
        background-color: background(play);
    }
    .study{
        background-color: background(study);
    }
    .exercise{
        background-color: background(exercise);
    }
    .social{
        background-color: background(social);
    }
    .selfcare{
        background-color: background(selfcare);
    }

}